@page "/"


<PageTitle>Home</PageTitle>

<h1>I'm Shi Wei Lin</h1>
<p>(Pronounced: Suey)</p>
<img src="/image/default_man.jpg" />
<p>A git test 2</p>
<p>Test for the macs</p>
<p>Last test through the pc</p>
