@page "/"


<PageTitle>Home</PageTitle>

<h1>I'm Shi Wei Lin</h1>
<p>(Pronounced: Suey)</p>
<p>Quality Engineer, Web Developer, and Video Gamer</p>
<img src="/image/default_man.jpg" />
<p>Download Resume</p>
<a href="/Image/Shi_Wei_Lin_Resume_.docx" download="Resume">
    <img src="/Image/download-logo.png" alt="Resume" width="100" height="100">
</a>

