@page "/"

<PageTitle>Home</PageTitle>
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

    <h1>I'm Shi Wei Lin</h1>
    <p>(Pronounced: Suey)</p>
    <img src="default_avater.jpg" alt="Default avatar" width="500" height="600" />"
    <p>A git test</p>
</body>
</html>